.card {
  width: 13rem;
  height: 22rem;
  position: relative;
}

.button {
  width: 100%;
  height: 2rem;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 5%;
  left: 0;
}

.card b {
  position: absolute;
  bottom: 22%;
  left: 10%;
}

.card pre {
  position: absolute;
  bottom: 16%;
  left: 10%;
}

.image {
  width: 13rem;
  height: 15rem;
  padding: 1rem;
  border: 2px solid grey;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.05);
}

@media (max-width: 970px) {
  .card {
    width: 10rem;
    height: 17rem;
  }
  .image {
    width: 10rem;
    height: 11rem;
    padding: 0.8rem;
  }
  .card b,
  pre {
    font-size: small;
  }
  .card b {
    bottom: 25%;
  }
  .card pre {
    bottom: 20%;
  }
}
