.item {
  margin: 2rem auto;
  width: 90%;
  display: flex;
}

.images {
  width: 60%;
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 1rem;
}

.images img {
  width: 100%;
}

.details {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.list li {
  border-radius: 50%;
  width: 2.5rem;
  text-align: center;
  border: 1px solid gray;
}
